.input-field>label {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: vertical-text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px)
}
input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
    color: rgb(0, 0, 0);
    border-bottom: 1px dotted rgb(0, 0, 0)
}

input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type=text]:not(.browser-default):disabled+label,
input[type=text]:not(.browser-default)[readonly="readonly"]+label,
input[type=password]:not(.browser-default):disabled+label,
input[type=password]:not(.browser-default)[readonly="readonly"]+label,
input[type=email]:not(.browser-default):disabled+label,
input[type=email]:not(.browser-default)[readonly="readonly"]+label,
input[type=url]:not(.browser-default):disabled+label,
input[type=url]:not(.browser-default)[readonly="readonly"]+label,
input[type=time]:not(.browser-default):disabled+label,
input[type=time]:not(.browser-default)[readonly="readonly"]+label,
input[type=date]:not(.browser-default):disabled+label,
input[type=date]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime]:not(.browser-default):disabled+label,
input[type=datetime]:not(.browser-default)[readonly="readonly"]+label,
input[type=datetime-local]:not(.browser-default):disabled+label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"]+label,
input[type=tel]:not(.browser-default):disabled+label,
input[type=tel]:not(.browser-default)[readonly="readonly"]+label,
input[type=number]:not(.browser-default):disabled+label,
input[type=number]:not(.browser-default)[readonly="readonly"]+label,
input[type=search]:not(.browser-default):disabled+label,
input[type=search]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgb(0, 0, 0)
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100%;
    margin-top: 10vh;
}

#logo_validate{
    stroke-dasharray: 0%;
}